.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-background;
    padding-top: 65px;
    @include medium{
        display: grid;
        grid-template-columns: 5% 40% 5% 5% 40% 5%;
        grid-template-areas:
        "img title"
        "img info"
        "img button"
        "izq der"
        ;
    }

    &__info {
        padding: 10px 80px;
        font-size: 1.2rem;
        color: $color-texto;
        @include medium{
            grid-area: info;
        grid-column: 4/6;
        }
    }

    &__title {
        text-align: center;
        font-size: 3.5rem;
        color: $color-texto;
        @include medium{
            grid-area: title;
        grid-column: 4/6;
        }
    }

    &__img {
        margin-top: 10px;
        width: 250px;
        background: rgb(22,36,100);
        background: linear-gradient(133deg, rgba(22,36,100,1) 5%, rgba(187,131,139,1) 81%); 
        border-radius: 15% 85% 71% 29% / 28% 47% 53% 72%;
        grid-area: img;
        grid-column: 2/4;
        @include medium{
            width: 350px;
        justify-self: center;
        }
    }

    &__items {
        background-color: $color-cinco;
        width: 80%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
            "icon subtitle"
            "icon info"
        ;
        padding: 10px;
        @include medium{
            width: 100%;
        height: 230px;
        }
        &--izq{
            @include medium{
                grid-area: izq;
                grid-column: 2/4;
            }
        }
        &--der{
            @include medium{
                grid-area: der;
                grid-column: 4/6;
            }
        }
    }

    &__subtitle {
        grid-area: subtitle;
        padding: 10px;
    }

    &__info-dos {
        grid-area: info;
        padding: 10px;
    }

    &__icons {
        width: 70px;
        padding: 5px;
        border-radius: 50%;
        background-color: rgb(223, 215, 215);
        grid-area: icon;
    }

    &__button {
        border: 2px solid $color-cinco;
        background-color: transparent;
        width: fit-content;
        font-size: 1.3rem;
        font-weight: bold;
        color: $color-cinco;
        padding: 20px 35px;
        margin-bottom: .5rem;
        border-radius: 8px;
        @include medium{
            grid-area: button;
        grid-column: 5/6;
        }

        &:hover {
            background-color: $color-cinco;
            color: #fff;
            scale: 1.1;
            transition: all .35s;
        }
    }
}